@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    font-family: "Poppins", sans-serif;
    
}
main section#first img{
    float: left;
    height: 550px;
    width: 280px;
    position: absolute;
    border-radius: 40px;
   margin-left: 250px;
   margin-top: 30px;
}
main section#first img.me1{
    left: 80px;
    bottom: 20px;
}
.login{
    float: right;
    height: 390px;
    width: 320px;
    margin-right: 230px;
    text-align: center;
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
}
.login input{
margin-bottom: 19px ;
width:255px ;
height: 35px;
border: none;
border-radius: 10px;
padding: 0px  10px;
font-size: small;
box-shadow: 0px 0px 5px .2px rgb(168, 157, 157);
}
.login input[type="submit"]{
height: 35px;
width: 270px;
background-color: rgb(17, 144, 183);
border: none;
font-size: medium;
color: white;
}
input:focus{
    outline: none;
}
.login h1{
    font-family: "Patrick Hand", sans-serif;
    font-size:40px;
    margin: 30px;
}
#first .login a{
    text-decoration: none;
    font-size: small;
   
}
#first .login img{
    height: 20px;
    width: 20px;
    margin: 3px;
}
h5{
    margin: 10px ;
}
#first .login a.hello{
    font-weight: bold;
}
#first .signup {
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
}
#first .signup a{
    text-decoration: none;
    color: rgba(37, 189, 240, 0.973);
    font-weight: bold;
}
#first .container{
    display: inline-flex;
    margin: 5px;
    border: none;
    height: 50px;width: 130px;
    border-radius: 20px;
    padding: 0px 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px .5px rgb(64, 59, 59);
}

#first .container img{
    height: 35px;width: 35px;
    margin-top: 9px;
}
#first .container p{
    margin-left: 45px;
}
#first p.only{
    margin: 10px 0px;
    font-size: small;
}